.mat-card-simples{
  max-width: 300px;
  background-color: rgb(240, 255, 249);
  margin-top: 10px;
}

.mat-form-principal{
margin-left: 5px;

}

.mat-form-field{
margin-left: 2px;
background-color: rgb(245, 247, 233);
margin-top: 5px;
}

.card-insercao-usuario{
  max-width: 700px;
  background-color: rgb(165, 223, 118);
  margin-top: 5px;
}

